.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 5px 40px;
  width: 80%;
  margin: auto;
  background: #ffe8d6;
  align-items: center;
}

#search-field {
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.menu-item {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 16px;
  color: #2a9d8f;
  font-weight: 500;
}

.selected {
  color: #e63946;
  font-weight: 600;
  font-size: 18px;
}
